# Introduction to Data Science
## Homework 1: Due Midnight, March 4th. 1/3 of a Grade Deducted for each day late

Student Name: Xi Qin

Student Netid: xq335
***

### Part 1: Case study
- Read [this article](http://www.nytimes.com/2012/02/19/magazine/shopping-habits.html) in the New York Times.
- Use what we've learned in class and from the book to describe how one could set Target's problem up as a predictive modeling problem, such that they could have gotten the results that they did.  Formulate your solution as a proposed plan using our data science terminology.  Include all the aspects of the formulation that you see as relevant to solving the problem.  Be precise but concise.

### Answer: 
The first part is understanding the problem. It is needed to be transformed from business questions into data science questions. The question “how to figure out if a customer is pregnant” would become “what changes in instances' buying behaviors can identify the pregnancy”. 

Our instances are women, target variable is pregenancy, and predict variables are their buying patterns in relavent products. Then grab some historical data from dataset and training them into different models, for instance, SVM, Decision tree, Logistic regression. Later, evaluate the data by doing cross validation or nested holdout testing. The final step is deployment, putting results and techniques into business use.

### Part 2: Dealing with messy data
Not all data you will deal with is going to be clean. In fact, much of it will be very messy! For example, we have the HTML page that lists the contributors to Facebook's [osquery](https://github.com/facebook/osquery) project that is hosted on [Github.com](https://github.com). In this case, all we are interested in are the contributors and how many commits each of them has. Given the HTML page in `"data/osquery_contributors.html"` you will sift through tons of irrelevant data so that you can build a useful data structure.

Notice that the first six (out of 59 total) contributors are named "theopolis", "marpaia", "javuto", "jedi22", "unixist", and "mofarrell". They have 553, 477, 104, 49, 30, 25 commits respectively.

![Screenshot](images/osquery_contributors.png)

To get a better of understanding of how this data is stored in the file, try searching through the raw data file for these usernames to look for any patterns. Your final dictionary should have 59 elements!

1\. Turn this data into a Python dictionary called `contributors` where the keys are the contributor names and the values are the number of commits that each contributor has.

In [2]:
import codecs
from bs4 import BeautifulSoup
f=codecs.open("data/osquery_contributors.html", 'r', 'utf-8')
html_str= BeautifulSoup(f.read(),"html5lib").get_text()


import re 
raw_str = str(re.findall(r'author=[a-z,A-Z,0-9,-]{,50}">[0-9]{,4}', html_str))
splited = re.split("[=>,\"]+", raw_str)
names = splited[1::3]
commits = splited[2::3]
contributors = dict(zip(names, commits))

print(contributors)

{'quad': "1'", 'apage43': "1'", 'mathieuk': "2'", 'maclennann': "6'", 'unixist': "30'", 'theopolis': "553'", 'eastebry': "9'", 'SimplyAhmazing': "1'", 'dreid': "1'", 'mark-ignacio': "1'", 'Anubisss': "2'", 'brandt': "3'", 'zwass': "14'", 'rjeczalik': "1'", 'ecin': "1'", 'alex': "1'", 'DavidGosselin': "1'", 'mlw': "2'", 'akshaydixi': "5'", 'kost': "1'", 'mtmcgrew': "1'", 'castrapel': "2'", 'justintime32': "1'", 'mimeframe': "3'", 'blackfist': "1'", 'sharvilshah': "23'", 'wxsBSD': "20'", 'ga2arch': "2'", 'polachok': "14'", 'timzimmermann': "2'", 'shawndavenport': "1'", 'jamesgpearce': "2'", 'jacknagz': "1'", 'vlajos': "1'", 'd0ugal': "1'", 'maus-': "9'", 'tburgin': "1'", 'glensc': "2'", 'marpaia': "477'", 'larzconwell': "1'", 'yannick': "1'", 'blakefrantz': "6'", 'schettino72': "2'", 'vmauge': "8'", 'javuto': "104'", 'arubdesu': "1'", 'jreese': "2'", 'arirubinstein': "4'", 'stevenhilder': "1']", 'lwhsu': "22'", 'astanway': "6'", 'nlsun': "3'", 'yetanotherhacker': "1'", 'mofarrell': "25'", 'jedi22': "49'", 'achmiel': "3'", 'mgoffin': "2'", 'cdown': "4'", 'deniszh': "3'"}

### Part 3: Dealing with data Pythonically

In [8]:
# You might find these packages useful. You may import any others you want!
import pandas as pd
import numpy as np

1\. Load the data set `"data/ads_dataset.tsv"` into a Python Pandas data frame called `ads`.

In [3]:
from pandas import DataFrame
ads = DataFrame.from_csv("data/ads_dataset.tsv", sep="\t")
ads

,isbuyer,buy_freq,visit_freq,buy_interval,sv_interval,expected_time_buy,expected_time_visit,last_buy,last_visit,multiple_buy,multiple_visit,uniq_urls,num_checkins,y_buy
NaT,0,NaN,1,0.0,0.000000,0.0,0.000000,106,106,0,0,169,2130,0
NaT,0,NaN,1,0.0,0.000000,0.0,0.000000,72,72,0,0,154,1100,0
NaT,0,NaN,1,0.0,0.000000,0.0,0.000000,5,5,0,0,4,12,0
NaT,0,NaN,1,0.0,0.000000,0.0,0.000000,6,6,0,0,150,539,0
NaT,0,NaN,2,0.0,0.500000,0.0,-101.149300,101,101,0,1,103,362,0
NaT,0,NaN,1,0.0,0.000000,0.0,0.000000,42,42,0,0,17,35,0
NaT,0,NaN,1,0.0,0.000000,0.0,0.000000,42,42,0,0,42,110,0
NaT,0,NaN,2,0.0,29.791670,0.0,-106.188300,121,121,0,1,101,401,0
NaT,0,NaN,3,0.0,45.479170,0.0,-34.144730,64,64,0,1,100,298,0
NaT,0,NaN,1,0.0,0.000000,0.0,0.000000,13,13,0,0,53,247,0
NaT,1,1.0,2,0.0,0.958333,0.0,-20.671200,21,21,0,1,65,175,0
NaT,0,NaN,2,0.0,21.333330,0.0,-108.323000,118,118,0,1,163,891,0
NaT,0,NaN,1,0.0,0.000000,0.0,0.000000,151,151,0,0,24,198,0
NaT,0,NaN,1,0.0,0.000000,0.0,0.000000,19,19,0,0,16,48,0
NaT,0,NaN,1,0.0,0.000000,0.0,0.000000,81,81,0,0,32,177,0
NaT,0,NaN,1,0.0,0.000000,0.0,0.000000,68,68,0,0,64,305,0
NaT,0,NaN,1,0.0,0.000000,0.0,0.000000,36,36,0,0,76,163,0
NaT,0,NaN,2,0.0,15.958330,0.0,-6.683471,14,14,0,1,101,1105,0
NaT,0,NaN,1,0.0,0.000000,0.0,0.000000,19,19,0,0,30,76,0
NaT,0,NaN,1,0.0,0.000000,0.0,0.000000,70,70,0,0,168,1317,0
NaT,0,NaN,2,0.0,27.250000,0.0,-124.610000,138,138,0,1,172,828,0
NaT,0,NaN,2,0.0,133.125000,0.0,50.474090,16,16,0,1,67,396,0
NaT,0,NaN,3,0.0,8.395833,0.0,2.534722,3,3,0,1,146,398,0
NaT,0,NaN,1,0.0,0.000000,0.0,0.000000,9,9,0,0,-1,26,0
NaT,0,NaN,1,0.0,0.000000,0.0,0.000000,145,145,0,0,179,1215,0
NaT,0,NaN,8,0.0,15.994050,0.0,12.569260,1,1,0,1,64,167,0
NaT,0,NaN,1,0.0,0.000000,0.0,0.000000,39,39,0,0,165,3883,0
NaT,0,NaN,1,0.0,0.000000,0.0,0.000000,34,34,0,0,96,219,0
NaT,0,NaN,1,0.0,0.000000,0.0,0.000000,135,135,0,0,143,1011,0
NaT,0,NaN,1,0.0,0.000000,0.0,0.000000,77,77,0,0,81,219,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
NaT,0,NaN,1,0.0,0.000000,0.0,0.000000,6,6,0,0,0,182,0
NaT,0,NaN,1,0.0,0.000000,0.0,0.000000,44,44,0,0,84,139,0
NaT,0,NaN,1,0.0,0.000000,0.0,0.000000,85,85,0,0,169,276,0
NaT,0,NaN,1,0.0,0.000000,0.0,0.000000,49,49,0,0,18,45,0
NaT,0,NaN,1,0.0,0.000000,0.0,0.000000,30,30,0,0,53,506,0
NaT,0,NaN,1,0.0,0.000000,0.0,0.000000,10,10,0,0,109,1131,0
NaT,0,NaN,1,0.0,0.000000,0.0,0.000000,77,77,0,0,11,38,0
NaT,0,NaN,1,0.0,0.000000,0.0,0.000000,14,14,0,0,9,87,0
NaT,0,NaN,3,0.0,28.229170,0.0,-7.932672,26,26,0,1,162,1178,0
NaT,0,NaN,1,0.0,0.000000,0.0,0.000000,48,48,0,0,39,139,0
NaT,0,NaN,1,0.0,0.000000,0.0,0.000000,38,38,0,0,26,117,0
NaT,0,NaN,1,0.0,0.000000,0.0,0.000000,70,70,0,0,171,506,0
NaT,0,NaN,2,0.0,8.541667,0.0,-14.237070,18,18,0,1,-1,3,0
NaT,0,NaN,1,0.0,0.000000,0.0,0.000000,71,71,0,0,63,254,0
NaT,0,NaN,1,0.0,0.000000,0.0,0.000000,185,185,0,0,184,1358,0
NaT,0,NaN,1,0.0,0.000000,0.0,0.000000,95,95,0,0,164,2462,0
NaT,0,NaN,1,0.0,0.000000,0.0,0.000000,134,134,0,0,174,499,0
NaT,0,NaN,10,0.0,7.101852,0.0,3.137754,3,3,0,1,103,255,0
NaT,0,NaN,1,0.0,0.000000,0.0,0.000000,109,109,0,0,143,808,0
NaT,0,NaN,1,0.0,0.000000,0.0,0.000000,57,57,0,0,164,1912,0
NaT,0,NaN,2,0.0,131.083300,0.0,34.678500,30,30,0,1,30,214,0
NaT,0,NaN,1,0.0,0.000000,0.0,0.000000,181,181,0,0,22,125,0
NaT,0,NaN,1,0.0,0.000000,0.0,0.000000,69,69,0,0,95,187,0
NaT,0,NaN,1,0.0,0.000000,0.0,0.000000,119,119,0,0,103,1338,0
NaT,0,NaN,1,0.0,0.000000,0.0,0.000000,37,37,0,0,1,22,0
NaT,0,NaN,3,0.0,30.979170,0.0,12.621240,8,8,0,1,168,2080,0
NaT,0,NaN,2,0.0,1.041667,0.0,-0.916713,1,1,0,1,1,15,0
NaT,0,NaN,1,0.0,0.000000,0.0,0.000000,20,20,0,0,132,556,0
NaT,0,NaN,1,0.0,0.000000,0.0,0.000000,180,180,0,0,71,400,0
NaT,0,NaN,1,0.0,0.000000,0.0,0.000000,185,185,0,0,77,401,0

2\. Write a Python function called `getDfSummary()` that does the following:
- Takes as input a data frame
- For each variable in the data frame calculates the following features:
  - `number_nan` to count the number of missing not-a-number values
  - Ignoring missing, NA, and Null values:
    - `number_distinct` to count the number of distinct values a variable can take on
    - `mean`, `max`, `min`, `std` (standard deviation), and `25%`, `50%`, `75%` to correspond to the appropriate percentiles
- All of these new features should be loaded in a new data frame. Each row of the data frame should be a variable from the input data frame, and the columns should be the new summary features.
- Returns this new data frame containing all of the summary information

Hint: The pandas `describe()` [(manual page)](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.describe.html) method returns a useful series of values that can be used here.

In [4]:
def getDfSummary(input_data):
    number_nan = input_data.isnull().sum()
    number_nan.name = "numbers_of_nan"
    number_distinct = input_data.T.apply(lambda x: x.nunique(), axis=1)
    number_distinct.name = "numbers_of_distinct"
    output_data = DataFrame.describe(input_data)
    output_data = output_data.append(number_nan)
    output_data = output_data.append(number_distinct)
    return output_data

In [5]:
getDfSummary(ads)

,isbuyer,buy_freq,visit_freq,buy_interval,sv_interval,expected_time_buy,expected_time_visit,last_buy,last_visit,multiple_buy,multiple_visit,uniq_urls,num_checkins,y_buy
count,54584.000000,2327.000000,54584.000000,54584.000000,54584.000000,54584.000000,54584.000000,54584.000000,54584.000000,54584.000000,54584.000000,54584.000000,54584.000000,54584.000000
mean,0.042632,1.240653,1.852777,0.210008,5.825610,-0.198040,-10.210786,64.729335,64.729335,0.006357,0.277444,86.569343,720.657592,0.004635
std,0.202027,0.782228,2.921820,3.922016,17.595442,4.997792,31.879722,53.476658,53.476658,0.079479,0.447742,61.969765,1275.727306,0.067924
min,0.000000,1.000000,0.000000,0.000000,0.000000,-181.923800,-187.615600,0.000000,0.000000,0.000000,0.000000,-1.000000,1.000000,0.000000
25%,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,18.000000,18.000000,0.000000,0.000000,30.000000,127.000000,0.000000
50%,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,51.000000,51.000000,0.000000,0.000000,75.000000,319.000000,0.000000
75%,0.000000,1.000000,2.000000,0.000000,0.104167,0.000000,0.000000,105.000000,105.000000,0.000000,1.000000,155.000000,802.000000,0.000000
max,1.000000,15.000000,84.000000,174.625000,184.916700,84.285710,91.401920,188.000000,188.000000,1.000000,1.000000,206.000000,37091.000000,1.000000
numbers_of_nan,0.000000,52257.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
numbers_of_distinct,2.000000,10.000000,64.000000,295.000000,5886.000000,348.000000,15135.000000,189.000000,189.000000,2.000000,2.000000,207.000000,4628.000000,2.000000

3\. How long does it take for your `getDfSummary()` function to work on your `ads` data frame? Show us the results below.

Hint: `%timeit getDfSummary(ads)`

In [6]:
%timeit getDfSummary(ads)

10 loops, best of 3: 127 ms per loop

4\. Using the results returned from `getDfSummary()`, which fields, if any, contain missing `NaN` values?

In [9]:
check = getDfSummary(ads).loc[["numbers_of_nan"]].sum() != 0
df1 = pd.DataFrame(data=check.index, columns=['index'])
df2 = pd.DataFrame(data=check.values, columns=['values'])
check_df = pd.merge(df1, df2, left_index=True, right_index=True)
check_df[check_df.values==True][["index"]]

      index
1  buy_freq

5\. For the fields with missing values, does it look like the data is missing at random? Are there any other fields that correlate perfectly, or predict that the data is missing? If missing, what should the data value be?

Hint: create another data frame that has just the records with a missing value. Get a summary of this data frame using `getDfSummary()` and compare the differences. Do some feature distributions change dramatically?

In [10]:
ads1 = ads.fillna(0)
NaN_subset = ads1.query('buy_freq == 0')
getDfSummary(NaN_subset)

,isbuyer,buy_freq,visit_freq,buy_interval,sv_interval,expected_time_buy,expected_time_visit,last_buy,last_visit,multiple_buy,multiple_visit,uniq_urls,num_checkins,y_buy
count,52257.0,52257.0,52257.000000,52257.0,52257.000000,52257.0,52257.000000,52257.000000,52257.000000,52257.0,52257.000000,52257.000000,52257.000000,52257.000000
mean,0.0,0.0,1.651549,0.0,5.686388,0.0,-9.669298,65.741317,65.741317,0.0,0.255602,86.656180,721.848518,0.003024
std,0.0,0.0,2.147955,0.0,17.623555,0.0,31.239030,53.484622,53.484622,0.0,0.436203,61.996711,1284.504018,0.054904
min,0.0,0.0,1.000000,0.0,0.000000,0.0,-187.615600,0.000000,0.000000,0.0,0.000000,-1.000000,1.000000,0.000000
25%,0.0,0.0,1.000000,0.0,0.000000,0.0,0.000000,19.000000,19.000000,0.0,0.000000,30.000000,126.000000,0.000000
50%,0.0,0.0,1.000000,0.0,0.000000,0.0,0.000000,52.000000,52.000000,0.0,0.000000,75.000000,318.000000,0.000000
75%,0.0,0.0,2.000000,0.0,0.041667,0.0,0.000000,106.000000,106.000000,0.0,1.000000,155.000000,803.000000,0.000000
max,0.0,0.0,84.000000,0.0,184.916700,0.0,91.401920,188.000000,188.000000,0.0,1.000000,206.000000,37091.000000,1.000000
numbers_of_nan,0.0,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
numbers_of_distinct,1.0,1.0,48.000000,1.0,5112.000000,1.0,13351.000000,189.000000,189.000000,1.0,2.000000,207.000000,4570.000000,2.000000

In [11]:
ads1 = ads.fillna(0)
nonNaN_subset = ads1.query('buy_freq != 0')
getDfSummary(nonNaN_subset)

,isbuyer,buy_freq,visit_freq,buy_interval,sv_interval,expected_time_buy,expected_time_visit,last_buy,last_visit,multiple_buy,multiple_visit,uniq_urls,num_checkins,y_buy
count,2327.0,2327.000000,2327.000000,2327.000000,2327.000000,2327.000000,2327.000000,2327.000000,2327.000000,2327.000000,2327.000000,2327.000000,2327.000000,2327.000000
mean,1.0,1.240653,6.371723,4.926110,8.952092,-4.645390,-22.370870,42.003438,42.003438,0.149119,0.767942,84.619252,693.913193,0.040825
std,0.0,0.782228,8.680026,18.377272,16.651559,23.779721,42.080323,47.980703,47.980703,0.356282,0.422237,61.342345,1059.533550,0.197927
min,1.0,1.000000,0.000000,0.000000,0.000000,-181.923800,-183.362600,0.000000,0.000000,0.000000,0.000000,-1.000000,2.000000,0.000000
25%,1.0,1.000000,2.000000,0.000000,0.041667,0.000000,-34.575625,3.000000,3.000000,0.000000,1.000000,30.000000,137.000000,0.000000
50%,1.0,1.000000,3.000000,0.000000,3.354167,0.000000,-1.504768,21.000000,21.000000,0.000000,1.000000,69.000000,337.000000,0.000000
75%,1.0,1.000000,7.000000,0.000000,10.833330,0.000000,0.000000,70.000000,70.000000,0.000000,1.000000,153.000000,784.000000,0.000000
max,1.0,15.000000,75.000000,174.625000,176.708300,84.285710,88.300380,186.000000,186.000000,1.000000,1.000000,195.000000,10778.000000,1.000000
numbers_of_nan,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
numbers_of_distinct,1.0,10.000000,60.000000,295.000000,1367.000000,348.000000,1788.000000,186.000000,186.000000,2.000000,2.000000,196.000000,1127.000000,2.000000

### Answer: 
We generate a subset called **NaN_subset**, which contains all instances whose *buy_freq* value are missing. The *numbers_of_distinct* row indicates that, in this **NaN_subset**, there is only one type of _isbuyer_, which is 0. That means all instances in this dataset are NOT buyers. 

If we go and see the rest of the orginal dataset, let's call it **nonNaN_subset**, we will find that it only contains one type of *isbuyer* as well, which is 1. That means all instances in this **nonNaN_subset** ARE buyers. 

So the conclusion is that, **only buyers have value in *buy_freq* column**.

6\. Which variables are binary?

In [12]:
unique = ads.T.apply(lambda x: x.nunique(), axis=1)
bool_cols = unique == 2
dfa = pd.DataFrame(data=bool_cols.index, columns=['index'])
dfb = pd.DataFrame(data=bool_cols.values, columns=['values'])
check_bool = pd.merge(dfa, dfb, left_index=True, right_index=True)
check_bool[check_bool.values==True][["index"]]

             index
0          isbuyer
9     multiple_buy
10  multiple_visit
13           y_buy